<h1>Facebook Application Template</h1>
<p>
	Add pages under main controller.
</p>
<hr>

<% if current_user %>
<p>Welcome, <%= @profile["name"] %></p>
<p>You have <%= @friends_count %> friends.</p>
<% end %>